__pycache__/
env/
.idea/
.ipynb_checkpoints/
*.pyc
*.so
*.csv
.vscode/
build/
*.egg-info/
dist/
data/
auviewer.code-workspace
._.DS_Store
.DS_Store
._*
.eggs
audata
node_modules
assets/auvdata
profiles

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml