__pycache__/
env/
.idea/
.ipynb_checkpoints/
*.pyc
*.so
.vscode/
build/
*.egg-info/
cylib.c
dist/
auviewer.code-workspace
._.DS_Store
.DS_Store
._*
.eggs
audata
node_modules

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml