git+https://github.com/autonlab/audata.git#egg=audata
bcrypt
Cython
email_validator
flask==2.3.3
flask_login
flask_mail
flask_sqlalchemy
flask-wtf
htmlmin
jsbeautifier
numpy>=1.19.5
pandas
passlib
psutil
pycryptodome
simplejson
sqlalchemy>=2.0