audata
bcrypt
cython
email_validator
flask
flask_login
flask_mail
flask_sqlalchemy
flask_wtf
htmlmin
jsbeautifier
jupyterlab
nbsphinx
numpy
pandas
pandoc
passlib
psutil
pycrypto
sphinx
sphinx_rtd_theme
simplejson
sqlalchemy
twine