git+https://github.com/autonlab/audata.git#egg=audata
bcrypt
Cython
email_validator
flask==2.3.3
flask_login
flask_mail
flask_sqlalchemy
flask_wtf
h5py>=3.7.0
htmlmin
jsbeautifier
jupyterlab
nbsphinx
numpy>=1.19.5
pandas
pandoc
passlib
psutil
pycryptodome
sphinx
sphinx_gallery
sphinx_rtd_theme
simplejson
sqlalchemy>=2.0
twine