git+https://github.com/autonlab/audata.git#egg=audata
bcrypt
Cython
email_validator
flask==2.3.3
flask_login
flask_mail
flask_sqlalchemy
flask_wtf
htmlmin
jsbeautifier
jupyterlab
numpy>=1.19.5
pandas
pandoc
passlib
psutil
pycryptodome
simplejson
sqlalchemy>=2.0
twine