audata>=1.0.3
bcrypt
cython
email_validator
flask
flask_login
flask_mail
flask_sqlalchemy
flask_wtf
htmlmin
jsbeautifier
jupyterlab
nbsphinx
numpy>=1.19.5
pandas
pandoc
passlib
psutil
pycrypto
sphinx
sphinx_gallery
sphinx_rtd_theme
simplejson
sqlalchemy>=2.0
twine