{% extends 'base.html' %}

{% block css %}
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/webix.min.css'/>
<style>
	h2 { text-align: center; margin-bottom: 16px; }
	tbody > tr { cursor: pointer; }
</style>
{% endblock %}

{% block js %}
<script src="{{ rootWebPath }}/js/third-party/webix.min.js"></script>
{% endblock %}

{% block content %}

<!--<div class="panel" id="projects">-->
<!--	<h2>Projects</h2>-->
<!--	<table-->
<!--</div>-->

<div class="container">
	<div class="row">

		<div class="col-xl">

			<h2>Projects</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Project</th>
						<th scope="col">Files</th>
						<th scope="col">Anomalies</th>
						<th scope="col">Annotations</th>
						<th scope="col">Assignments Rem.</th>
					</tr>
				</thead>
				<tbody>
					{% for p in projects %}
					<tr onclick="window.location='/project?id={{p.id}}'">
						<th scope="row">{{p.name}}</th>
						<td>{{p.files}}</td>
						<td>{{p.anomalies}}</td>
						<td>{{p.annotations}}</td>
						<td>{{p.assignments_rem}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

		<div class="col-xl">

			<h2>My Assignments</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Assignment</th>
						<th scope="col">Project</th>
						<th scope="col">Compl.</th>
						<th scope="col">Rem.</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr onclick="window.location='/project?id=1'">
						<th scope="row">Preliminary Annotations</th>
						<td>Condition C</td>
						<td>225</td>
						<td>15</td>
						<td>240</td>
					</tr>
					<tr>
						<th scope="row">Active Learning</th>
						<td>Condition C</td>
						<td>0</td>
						<td>2000</td>
						<td>2000</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>

{% endblock %}