{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ rootWebPath }}/css/third-party/bootstrap-select.min.css">
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/dygraph.css'/>
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/webix.min.css'/>
<link rel="stylesheet" href="https://cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css?v=8.1.5" type="text/css" charset="utf-8">
<link rel='stylesheet' href='{{ rootWebPath }}/css/app.css'/>
{% endblock %}

{% block js %}

<!-- Backend initial payload -->
<script type="application/javascript">
	const payload = JSON.parse({{payload|safe}});
	console.log('Initial project payload', payload);
</script>

<script src="{{ rootWebPath }}/js/third-party/bootstrap-select.min.js"></script>

<!-- Dygraphs & Synchronizer -->
<script src="{{ rootWebPath }}/js/third-party/dygraph.js"></script>
<script src="{{ rootWebPath }}/js/third-party/synchronizer.js"></script>

<!-- Webix -->
<script src="{{ rootWebPath }}/js/third-party/webix.min.js"></script>

<!-- Random color generator -->
<script src="{{ rootWebPath }}/js/third-party/random_color.js"></script>

<!-- Config -->
<script src="{{ rootWebPath }}/js/config.js"></script>

<!-- Classes -->
<script src="{{ rootWebPath }}/js/classes/annotation.js"></script>
<script src="{{ rootWebPath }}/js/classes/annotationset.js"></script>
<script src="{{ rootWebPath }}/js/classes/assignmentsmanager.js"></script>
<!-- <script src="{{ rootWebPath }}/js/classes/file.js"></script> -->
<script src="{{ rootWebPath }}/js/classes/supervisor.js"></script>
<script src="{{ rootWebPath }}/js/classes/globalstatemanager.js"></script>
<script src="{{ rootWebPath }}/js/classes/graph.js"></script>
<script src="{{ rootWebPath }}/js/classes/project.js"></script>
<script src="{{ rootWebPath }}/js/classes/requesthandler.js"></script>
<script src="{{ rootWebPath }}/js/classes/templatesystem.js"></script>

<!-- Function Libraries -->
<script src="{{ rootWebPath }}/js/event_handlers.js"></script>
<script src="{{ rootWebPath }}/js/helpers.js"></script>

<!-- App Main -->
<script src="{{ rootWebPath }}/js/supervisorApp.js"></script>

{% endblock %}

{% block content %}
<div class="row" id="supervisorPane">

	<div class="col-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">{{project_name}}</h5>


			<table class="table table-hover table-sm" id='labelingFunctionTable'>
				<col style="width:80%">
				<col style="width:20%">
				<thead>
					<tr>
						<th scope="col">Labeling Function</th>
						<th scope="col">View?</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			</div>

		<!-- <h6>Label function precomputer</h6>

		<div class="form-group">
			<input id="precompute-file" class="btn btn-sm btn-light" type="file" />
			<button type="button" class="btn btn-sm btn-light" onclick="globalStateManager.currentSupervisor.uploadFile('precompute-file')">Upload File</button>
		</div> -->

		</div>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Patients</h5>

			<div id="supervisorGraphs">
			</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
			<h6 class="card-title">Filter</h6>	
			<form id="supervisorQueryForm">
				<div class="row">
					<div class="col">
					    <input class="form-check-input" type="checkbox" id="randomQuery" value="option1">
						<label class="form-check-label" for="randomQuery">Random</label>
					</div>	
				</div>
				<div class="row">
					<div class="col">
					<label for="lfSelector">Select labeler</label>
					<select class="form-control" id="lfSelector">
					</select>
					</div>
					<div class="col">
					<label for="voteSelector">Select label</label>
					<select class="form-control" id="voteSelector">
					</select>
					</div>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.applyQuery()">Apply</button>
				</div>	
			</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}