{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ rootWebPath }}/css/third-party/bootstrap-select.min.css">
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/dygraph.css'/>
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/webix.min.css'/>
<link rel="stylesheet" href="https://cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css?v=8.1.5" type="text/css" charset="utf-8">
<link rel='stylesheet' href='{{ rootWebPath }}/css/app.css'/>
{% endblock %}

{% block js %}

<!-- Backend initial payload -->
<script type="application/javascript">
	const payload = JSON.parse({{payload|safe}});
	console.log('Initial project payload', payload);
</script>

<script src="{{ rootWebPath }}/js/third-party/bootstrap-select.min.js"></script>

<!-- Dygraphs & Synchronizer -->
<script src="{{ rootWebPath }}/js/third-party/dygraph.js"></script>
<script src="{{ rootWebPath }}/js/third-party/synchronizer.js"></script>

<!-- Webix -->
<script src="{{ rootWebPath }}/js/third-party/webix.min.js"></script>

<!-- Random color generator -->
<script src="{{ rootWebPath }}/js/third-party/random_color.js"></script>

<!-- Config -->
<script src="{{ rootWebPath }}/js/config.js"></script>

<!-- Classes -->
<script src="{{ rootWebPath }}/js/classes/annotation.js"></script>
<script src="{{ rootWebPath }}/js/classes/annotationset.js"></script>
<script src="{{ rootWebPath }}/js/classes/assignmentsmanager.js"></script>
<!-- <script src="{{ rootWebPath }}/js/classes/file.js"></script> -->
<script src="{{ rootWebPath }}/js/classes/supervisor.js"></script>
<script src="{{ rootWebPath }}/js/classes/globalstatemanager.js"></script>
<script src="{{ rootWebPath }}/js/classes/graph.js"></script>
<script src="{{ rootWebPath }}/js/classes/project.js"></script>
<script src="{{ rootWebPath }}/js/classes/requesthandler.js"></script>
<script src="{{ rootWebPath }}/js/classes/templatesystem.js"></script>

<!-- Function Libraries -->
<script src="{{ rootWebPath }}/js/helpers.js"></script>

<!-- App Main -->
<script src="{{ rootWebPath }}/js/supervisorApp.js"></script>

{% endblock %}

{% block content %}
<div class="row" id="supervisorPane">

	<div class="col-3">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">{{project_name}}</h5>
			<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<div class="btn-group btn-block">
					<button type="button" id="create_segments" onclick="globalStateManager.currentSupervisor.activateSegmentCreationMode()" class="btn btn-primary">Add segments</button>
					<button type="button" id="delete_segments" onclick="globalStateManager.currentSupervisor.activateSegmentDeletionMode()" class="btn btn-danger">Delete segments</button>
				</div>
				
			</li>

			<li class="list-group-item">
				<label for="lfSelection">Select labeler:</label>
				<select class="form-control mb-3" id="lfSelection" onchange="globalStateManager.currentSupervisor.onLabelerSelect()">
				</select>
					<div id="stats_pane">
							<button type="button" id="calculate_stats" class="btn btn-primary mb-2" onclick="globalStateManager.currentSupervisor.calculateStats()" disabled>Calculate Stats</button>
					</div>

					<div id="threshold_pane" >

						<div class="btn-group btn-block" id="submitThresholds">
							<button type="button" id="submitThresholds" class="btn btn-secondary" onclick="globalStateManager.currentSupervisor.submitThresholds()">Update Thresholds</button>
						</div>
					</div>
			</li>
			<li class="list-group-item">
				<button type="button" id="recalculateVotes" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.recalculateVotes()">Calculate votes on created segments</button>
			</li>
			</ul>

			<!-- <table class="table table-hover table-sm top-buffer" id='labelingFunctionTable'>
				<col style="width:80%">
				<col style="width:20%">
				<thead>
					<tr>
						<th scope="col">Labeling Function</th>
						<th scope="col">View?</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table> -->
			</div>

		<!-- <h6>Label function precomputer</h6>

		<div class="form-group">
			<input id="precompute-file" class="btn btn-sm btn-light" type="file" />
			<button type="button" class="btn btn-sm btn-light" onclick="globalStateManager.currentSupervisor.uploadFile('precompute-file')">Upload File</button>
		</div> -->

		</div>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Patients</h5>
				<h7 class="top-buffer">View segment</h7>
				<div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-primary" id="30_min">
						<input type="radio" name="options"  autocomplete="off" checked> 30 min</input>
					</label>
					<label  class="btn btn-primary active" id="60_min" >
						<input type="radio" name="options" autocomplete="off"> 1 hr</input>
					</label>
					<label class="btn btn-primary" id="120_min">
						<input type="radio" name="options" autocomplete="off"> 2 hr</input>
					</label>
				</div>

			<div id="supervisorGraphs">
			</div>
			<div style="display:none" id="shadingLegend"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
			<h6 class="card-title">Filter</h6>
			<form id="supervisorQueryForm">
				<div class="row form-group">
					<div class="col">
					<label for="lfSelector">Select labeler</label>
					<select class="form-control" id="lfSelector">
					</select>
					</div>
					<div class="col">
					<label for="voteSelector">Select label</label>
					<select class="form-control" id="voteSelector">
					</select>
					</div>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.applyQuery()">Apply</button>
				</div>
			</form>
			</div>
		</div>
	</div>

	<!-- Modal 
	   Loader div is from [here](https://tobiasahlin.com/spinkit/)  -->
<div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
        <div class="loader-txt">
          <p>Retrieving votes for adjusted time segments</p>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}