{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ rootWebPath }}/css/third-party/bootstrap-select.min.css">
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/dygraph.css'/>
<link rel='stylesheet' href='{{ rootWebPath }}/css/third-party/webix.min.css'/>
<link rel="stylesheet" href="https://cdn.webix.com/materialdesignicons/5.8.95/css/materialdesignicons.min.css?v=8.1.5" type="text/css" charset="utf-8">
<link rel='stylesheet' href='{{ rootWebPath }}/css/app.css'/>
{% endblock %}

{% block js %}

<!-- Backend initial payload -->
<script type="application/javascript">
	const payload = JSON.parse({{payload|safe}});
	console.log('Initial project payload', payload);
</script>

<script src="{{ rootWebPath }}/js/third-party/bootstrap-select.min.js"></script>

<!-- Dygraphs & Synchronizer -->
<script src="{{ rootWebPath }}/js/third-party/dygraph.js"></script>
<script src="{{ rootWebPath }}/js/third-party/synchronizer.js"></script>

<!-- Webix -->
<script src="{{ rootWebPath }}/js/third-party/webix.min.js"></script>

<!-- Random color generator -->
<script src="{{ rootWebPath }}/js/third-party/random_color.js"></script>

<!-- Config -->
<script src="{{ rootWebPath }}/js/config.js"></script>

<!-- Classes -->
<script src="{{ rootWebPath }}/js/classes/annotation.js"></script>
<script src="{{ rootWebPath }}/js/classes/annotationset.js"></script>
<script src="{{ rootWebPath }}/js/classes/assignmentsmanager.js"></script>
<!-- <script src="{{ rootWebPath }}/js/classes/file.js"></script> -->
<script src="{{ rootWebPath }}/js/classes/supervisor.js"></script>
<script src="{{ rootWebPath }}/js/classes/globalstatemanager.js"></script>
<script src="{{ rootWebPath }}/js/classes/graph.js"></script>
<script src="{{ rootWebPath }}/js/classes/project.js"></script>
<script src="{{ rootWebPath }}/js/classes/requesthandler.js"></script>
<script src="{{ rootWebPath }}/js/classes/templatesystem.js"></script>

<!-- Function Libraries -->
<script src="{{ rootWebPath }}/js/helpers.js"></script>

<!-- App Main -->
<script src="{{ rootWebPath }}/js/supervisorApp.js"></script>

{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="supervisorNav" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="labelers-tab" data-toggle="tab" href="#labelers" role="tab" aria-controls="labelers" aria-selected="true">Labelers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="evaluation-tab" data-toggle="tab" href="#evaluation" role="tab" aria-controls="evaluation" aria-selected="false">Evaluation</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active show" id="labelers" role="tabpanel" aria-labelledby="labelers-tab">
<div class="row" id="supervisorPane">

	<div class="col-3">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{project_name}}</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" >
						<div class="custom-control custom-switch mb-3">
							<input class="custom-control-input" type="checkbox" id="segment_type_switch">
							<label class="custom-control-label" for="segment_type_switch" id="segment_type_label">Create custom segments</label>
						</div>

						<div id="custom_segment_creation" class="btn-group btn-block mb-1">
							<button type="button" id="create_segments" onclick="globalStateManager.currentSupervisor.activateSegmentCreationMode()" class="btn btn-primary">Add segments</button>
							<button type="button" id="delete_segments" onclick="globalStateManager.currentSupervisor.activateSegmentDeletionMode()" class="btn btn-danger">Delete segments</button>
						</div>

						<div class="form-group">
							<input id="upload-windows" class="form-control-file" type="file" />
							<label for="upload-windows"> Browse custom segments file (.csv, or .pkl of pandas dataframe)</label>
							<button type="button" disabled id="segment_upload_button" class="btn btn-block btn-primary" onclick="globalStateManager.currentSupervisor.uploadFile('upload-windows')">Upload custom segments</button>
						</div>

						<div id="window_segment_creation" class="input-group" style="display:none">
							<div class="input-group mb-1">
								<div class="input-group-prepend"><span class="input-group-text">Window Size</span></div>
								<input type="text" class="form-control" placeholder="2hr, 30m, 120s" id="window_size">
							</div>
							<div class="input-group mb-1">
								<div class="input-group-prepend"><span class="input-group-text">Stride Length</span></div>
								<input type="text" class="form-control" placeholder="2hr, 30m, 120s" id="window_roll">
							</div>
							<button type="button" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.submitWindowSegments()">Apply</button>
						</div>	
					</li>


					<li class="list-group-item">
						<label for="lfSelection">Select labeler:</label>
						<select class="form-control mb-3" id="lfSelection" onchange="globalStateManager.currentSupervisor.onLabelerSelect()">
						</select>
							<div id="stats_pane">
									<button type="button" id="calculate_stats" class="btn btn-primary mb-2" onclick="globalStateManager.currentSupervisor.calculateStats()" disabled>Calculate Stats</button>
							</div>

							<div id="threshold_pane" >

								<div class="btn-group btn-block" id="submitThresholds">
									<button type="button" id="submitThresholds" class="btn btn-secondary" onclick="globalStateManager.currentSupervisor.submitThresholds()">Update Thresholds</button>
								</div>
							</div>
					</li>
					<li class="list-group-item">
						<button type="button" id="recalculateVotes" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.recalculateVotes()">Calculate votes on created segments</button>
					</li>
				</ul>

				<!-- <table class="table table-hover table-sm top-buffer" id='labelingFunctionTable'>
					<col style="width:80%">
					<col style="width:20%">
					<thead>
						<tr>
							<th scope="col">Labeling Function</th>
							<th scope="col">View?</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table> -->
			</div>



		</div>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Patients</h5>
				<h8>View segment</h8>
				<div class="btn-group btn-block mb-1">
					<button type="button" id="view_15sec" class="btn btn-primary">15 sec</button>
					<button type="button" id="view_30sec" class="btn btn-primary">30 sec</button>
					<button type="button" id="view_1min" class="btn btn-primary">1 min</button>
					<button type="button" id="view_15min" class="btn btn-primary">15 min</button>
					<button type="button" id="view_1hr" class="btn btn-primary">1 hr</button>
					<button type="button" id="view_5hr" class="btn btn-primary">5 hr</button>
					<button type="button" id="view_10hr" class="btn btn-primary">10 hr</button>
				</div>

			<div id="supervisorGraphs">
			</div>
			<div style="display:none" id="shadingLegend"></div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
			<h6 class="card-title">Filter</h6>
			<form id="supervisorQueryForm">
				<div class="row form-group">
					<div class="col">
					<label for="lfSelector">Select labeler</label>
					<select class="form-control" id="lfSelector">
					</select>
					</div>
					<div class="col">
					<label for="voteSelector">Select label</label>
					<select class="form-control" id="voteSelector">
					</select>
					</div>
				</div>
				<div class="row">
					<button type="button" class="btn btn-primary btn-block" onclick="globalStateManager.currentSupervisor.applyQuery()">Apply</button>
				</div>
			</form>
			</div>
		</div>
	</div>

	<!-- Modal 
	   Loader div is from [here](https://tobiasahlin.com/spinkit/)  -->
		<div style="display:none;position:absolute; top:50%; left:50%" id="modal">
			<div class="sk-chase">
				<div class="sk-chase-dot"></div>
				<div class="sk-chase-dot"></div>
				<div class="sk-chase-dot"></div>
				<div class="sk-chase-dot"></div>
				<div class="sk-chase-dot"></div>
				<div class="sk-chase-dot"></div>
			</div>
		</div>
    </div>
  </div>




<div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">
	<div class="row" >

		<div class="col-3">
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">{{project_name}}</h5>
				<ul class="list-group list-group-flush" id="labelerStatsTable">
				<li class="list-group-item" >
				</li>
				<div> hello</div>


				<li class="list-group-item">
				</li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="card">
			</div>
		</div>

		</div>
	</div>
	</div>


</div>
  </div>
</div>
{% endblock %}